
.img__preguntas{
	width: 25rem;
	margin: 1.5rem;
}

.preguntas__text--style{
	font-size: $FontS1+0.2rem;
	color: map-get($map:$colores,$key:'seis');
	font-family: $Font1;
	font-weight: 400;
	margin: 0.3rem;
}

.preguntas__respuesta--style{
	font-size: $FontS1;
	color: map-get($map:$colores,$key:'ocho');
	font-family: $Font1;
	margin: 0.5rem;
}

@keyframes animatePreguntas{
	0%{background-image: url(../img/gatin.jpg);}
	100%{background-image: url(../img/comida.jpg);}
}
#imgPre{
	background-image: url(../img/gatin.jpg);
	animation-name: animatePreguntas;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease;
	background-size: cover;
}