
.img__preguntas{
	width: 25rem;
	padding: 0.5rem;
}

.preguntas__text--style{
	font-size: $FontS1+0.2rem;
	color: map-get($map:$colores,$key:'seis');
	font-family: $Font1;
	font-weight: 400;
	margin: 0.3rem;
}

.preguntas__respuesta--style{
	font-size: $FontS1;
	color: map-get($map:$colores,$key:'ocho');
	font-family: $Font1;
	margin: 0.5rem;
}

.d-flex{
	@include display-wrap;
}